#dialogLauncher {width:0px;height:0px;line-height:0px;padding:0px;margin:0px;text-indent:-9999px;overflow:hidden;display:none;}
#dialogLauncher span {width:0px;height:0px;line-height:0px;padding:0px;margin:0px;text-indent:-9999px;overflow:hidden;}
#allQa .paging {width:800px;padding:5px;margin:0px;overflow:hidden;}
#allQa .paging .leftSide {width:400px;padding:5px;margin:0px;float:left;}
#allQa .paging .rightSide {width:300px;padding:5px;margin:0px;text-align:right;float:right;}
#allQa .prev {display:none;}
#allQa .pager {padding:0px 5px;}
#allQa .tInd, #allQa .bInd {padding:0px 5px;display:none;}
#allQa ul {width:800px;padding:0px;margin:0px;list-style:none;}
#allQa ul li {width:800px;padding:0px;margin:0px;}
#allQa ul li li {width:800px;padding:5px;margin:0px;}
#allQa .pagingListItem {width:800px;padding:5px;margin:0px;}
#allQa .pagingListItem .result {position:relative;width:800px;background:#FFFFFF;z-index:1;}
#allQa .pagingListItem .odd {background:#CCCCCC;}
#allQa .pagingListItem .even {background:#FFFFFF;}
#allQa .pagingListItem .focus {background:#FFFFFF !important;}
#allQa .pagingListItem .blur {background:#999999;}
#allQa .pagingListItem h3 {padding:0px;margin:0px;}
#allQa .pagingListItem p {padding:0px;margin:0px;}
#allQa .pagingListItem .previewBubble {width:600px;height:200px;padding:5px;margin:0px;background:#FFFFFF;border:#000000 1px solid;position:absolute;top:18px;left:18px;z-index:2;display:none;}
#allQa .pagingListItem .previewBubble #mainContent {width:600px;height:200px;padding:0px;margin:0px;overflow:auto;}
#allQa .pagingListItem .previewBubble .closer {display:block;width:30px;height:30px;padding:0px;margin:0px;background: url(../images/fancy_closebox.png) left top no-repeat;position:absolute;right:-20px;top:-20px;overflow:hidden;text-indent:-9999px;}
#allQa .pagingListItem .previewBubble .closer span {width:0px;height:0px;line-height:0px;padding:0px;margin:0px;overflow:hidden;text-indent:-9999px;}
